examples/example_flow.json
[
  {
    "id": "flow-basecasts",
    "type": "tab",
    "label": "BullMQ basecasts examples",
    "disabled": false,
    "info": ""
  },
  {
    "id": "queue-basecasts",
    "type": "bull-queue-server",
    "name": "basecasts",
    "deployment": "single",
    "address": "localhost",
    "port": "6379",
    "db": "",
    "clusterNodes": "",
    "sentinels": "",
    "sentinelMasterName": "",
    "username": "",
    "sentinelUsername": "",
    "tls": false,
    "sentinelTls": false,
    "tlsRejectUnauthorized": true,
    "tlsServerName": "",
    "prefix": ""
  },
  {
    "id": "inject-simple",
    "type": "inject",
    "z": "flow-basecasts",
    "name": "simple add",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "hello bullmq",
    "payloadType": "str",
    "x": 150,
    "y": 120,
    "wires": [["fn-simple"]]
  },
  {
    "id": "fn-simple",
    "type": "function",
    "z": "flow-basecasts",
    "name": "cmd add",
    "func": "msg.cmd = \"add\";\nmsg.jobopts = { removeOnComplete: true };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 120,
    "wires": [["cmd-simple"]]
  },
  {
    "id": "cmd-simple",
    "type": "bull cmd",
    "z": "flow-basecasts",
    "name": "add simple",
    "queue": "queue-basecasts",
    "x": 530,
    "y": 120,
    "wires": [["debug-cmd"]]
  },
  {
    "id": "run-immediate",
    "type": "bull run",
    "z": "flow-basecasts",
    "name": "run immediate",
    "queue": "queue-basecasts",
    "completionMode": "immediate",
    "ackTimeout": 300000,
    "concurrency": 1,
    "limiterMax": "",
    "limiterDuration": "",
    "x": 530,
    "y": 220,
    "wires": [["debug-run"]]
  },
  {
    "id": "inject-required-schedule",
    "type": "inject",
    "z": "flow-basecasts",
    "name": "required basecasts schedule",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "gateway-FCC23DFFFE0AA2A8",
    "payloadType": "str",
    "x": 180,
    "y": 320,
    "wires": [["fn-required-schedule"]]
  },
  {
    "id": "fn-required-schedule",
    "type": "function",
    "z": "flow-basecasts",
    "name": "add required repeat cron",
    "func": "msg.cmd = \"add\";\nmsg.jobopts = {\n  jobId: msg.payload,\n  removeOnComplete: true,\n  repeat: {\n    cron: \"30 9,19,29,39,49,59 * * * *\"\n  }\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 320,
    "wires": [["cmd-required-schedule"]]
  },
  {
    "id": "cmd-required-schedule",
    "type": "bull cmd",
    "z": "flow-basecasts",
    "name": "upsert scheduler",
    "queue": "queue-basecasts",
    "x": 680,
    "y": 320,
    "wires": [["debug-cmd"]]
  },
  {
    "id": "inject-delayed-priority",
    "type": "inject",
    "z": "flow-basecasts",
    "name": "delayed priority",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "delayed high priority",
    "payloadType": "str",
    "x": 170,
    "y": 420,
    "wires": [["fn-delayed-priority"]]
  },
  {
    "id": "fn-delayed-priority",
    "type": "function",
    "z": "flow-basecasts",
    "name": "delay priority opts",
    "func": "msg.cmd = \"add\";\nmsg.jobopts = {\n  delay: 5000,\n  priority: 1,\n  removeOnComplete: true\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 420,
    "wires": [["cmd-delayed-priority"]]
  },
  {
    "id": "cmd-delayed-priority",
    "type": "bull cmd",
    "z": "flow-basecasts",
    "name": "add delayed priority",
    "queue": "queue-basecasts",
    "x": 650,
    "y": 420,
    "wires": [["debug-cmd"]]
  },
  {
    "id": "events-basecasts",
    "type": "bull events",
    "z": "flow-basecasts",
    "name": "events",
    "queue": "queue-basecasts",
    "events": "completed,failed,progress,delayed,deduplicated,duplicated",
    "x": 150,
    "y": 540,
    "wires": [["debug-events"]]
  },
  {
    "id": "run-manual",
    "type": "bull run",
    "z": "flow-basecasts",
    "name": "run manual",
    "queue": "queue-basecasts",
    "completionMode": "manual",
    "ackTimeout": 300000,
    "concurrency": 1,
    "limiterMax": "",
    "limiterDuration": "",
    "x": 160,
    "y": 640,
    "wires": [["job-complete"]]
  },
  {
    "id": "job-complete",
    "type": "bull job",
    "z": "flow-basecasts",
    "name": "complete manual job",
    "action": "complete",
    "x": 400,
    "y": 640,
    "wires": [["debug-run"]]
  },
  {
    "id": "inject-flow",
    "type": "inject",
    "z": "flow-basecasts",
    "name": "parent child flow",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"name\":\"parent\",\"queueName\":\"basecasts\",\"data\":{\"payload\":\"parent\"},\"children\":[{\"name\":\"child\",\"queueName\":\"basecasts\",\"data\":{\"payload\":\"child\"}}]}",
    "payloadType": "json",
    "x": 170,
    "y": 740,
    "wires": [["flow-producer"]]
  },
  {
    "id": "flow-producer",
    "type": "bull flow",
    "z": "flow-basecasts",
    "name": "add flow",
    "queue": "queue-basecasts",
    "x": 390,
    "y": 740,
    "wires": [["debug-cmd"]]
  },
  {
    "id": "debug-cmd",
    "type": "debug",
    "z": "flow-basecasts",
    "name": "cmd output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 920,
    "y": 260,
    "wires": []
  },
  {
    "id": "debug-run",
    "type": "debug",
    "z": "flow-basecasts",
    "name": "run output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 920,
    "y": 360,
    "wires": []
  },
  {
    "id": "debug-events",
    "type": "debug",
    "z": "flow-basecasts",
    "name": "event output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 920,
    "y": 540,
    "wires": []
  }
]
